#container{
    margin: 0 auto;
}
body{
    margin: auto;
    max-width: 1080px;
}
#header-top img{
    text-align: center;
    width: 1080px;
    height: 300px;
}

#header-main{
    padding: 1px 1px;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-gap: 5px;
}
#menu{
    background-color: green;
    padding: 5px 0px;

}
#menu li{
    font-size: 13px;
    display: inline-block;
    text-transform: uppercase;
    margin: 0px 30px;
}
#menu li a{
    color: white;
    text-decoration: none;

}
#tuyensinh{
    background-color: #cccccc;

}
#list{
    
    padding-top: 1px;
    background-color: green;
  text-align: center;
}
#list  a{
    color: white;
    list-style: none;
    text-decoration: none;
}
#img{
    background-color: white;
    padding-top: 10px;
    text-align: center;
}
